<!DOCTYPE html>
<html lang="en" ng-app="app">

<head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meu Prefeito</title>

    <!-- FusionCharts library-->
    <script type="text/javascript" src="scripts/js/fusioncharts.js"></script>
    <script type="text/javascript" src="scripts/js/fusioncharts.widgets.js"></script>

    <!-- FusionCharts theme-->
    <script type="text/javascript" src="scripts/js/themes/fusioncharts.theme.zune.js"></script>

    <!-- AngularJS library -->
    <script type="text/javascript" src="scripts/js/angular.js"></script>

    <!-- AngularJS UI-Bootstrap -->
    <script type="text/javascript" src="scripts/js/ui-bootstrap-tpls-2.1.3.min.js"></script>

    <!-- Angular plugin -->
    <script type="text/javascript" src="scripts/js/angular-fusioncharts.min.js"></script>

    <!-- Angular model -->
    <script type="text/javascript" src="angular/model/app.js"></script>

    <!-- Angular controller -->
    <script type="text/javascript" src="angular/controller/indexController.js"></script>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/my-font.css">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-controller="IndexController">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <!-- <img src="img/logos/logo-borda.png" height="350%"> -->
                    Meu Prefeito
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#termometro">Meu Prefeito</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobre">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#equipe">Equipe</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Seja bem vindo(a) ao Meu Prefeito!</div>
                <div class="intro-heading" >Reeleições na Paraíba</div>
            </div>
        </div>
    </header>

    <!-- termometro Grid Section -->
    <section id="termometro" class="bg-light-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="col-lg-6 text-right">
                        <h2 class="section-heading">Meu Prefeito</h2>
                    </div>
                    <div class="col-lg-6 dropdown dropdown-scroll">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Candidato <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <div class="input-group input-group-sm search-control"> 
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                            </span>
                                <input type="text" class="form-control" placeholder="Nome" ng-model="nome"></input>
                            </div>
                        </li>
                        <li role="presentation" ng-repeat="d in dados | filter:nome | orderBy:'Nome'"> <a ng-click=search(d.Nome)> {{d.Nome}} </a>
                        </li>
                    </ul>
                </div>
                </div>
                
            </div>
            <div class="row">
                <div class="team-member">
                     <div class="white">
                         <div class="mg-top">
                         <img ng-src="{{emotion}}" class="img-responsive img-circle bc" alt="" width="100px" height="100px"> 
                             <h4>{{info.Nome}}</h4>
                                <p class="text-muted">Nome</p>
                                <hr>
                            <ul class="list-inline">
                                <li>
                                    <h4>{{info.Prefeitura}}</h4>
                                    <p class="text-muted">Prefeitura</p>
                                </li>
                                 <li>
                                    <h4>{{info.Irregular}}</h4>
                                    <p class="text-muted">Irregular</p>
                                </li>
                                <li>
                                    <a ng-click="setDetalhes()" class="page-scroll btn">{{txtDetalhes}}</a>
                                </li>
                                
                            </ul>
                         </div>    
                     </div>                         
                </div>
            </div>

            <div class="row">
                
                <div ng-show="detalhes" class="col-lg-12 text-justify">
                    <h4>Irregular</h4>
                    <p>
                        Candidato com contas julgadas irregulares pelo TRE-PB (Tribunal Regional Eleitoral da Paraíba).    
                    </p>
                    <br>
                    <h4>Dados da gestão</h4>
                    <p>
                        {{info.Nome}} é candidato(a) a prefeito(a) da cidade {{info.Prefeitura}}. Durante a sua antiga gestão - {{info.Ini_Gestao}} a {{info.Fim_Gestao}} - foram fechados {{info.nu_Contratos}} contratos de forma que {{info.nu_Dispensas}} são da modalidade dispensa ({{info.nu_Dispensas_Percent}}% do total de contratos) e {{info.nu_Convites}} da modalidade convite ({{info.nu_Convites_Percent}}%).    
                    </p>
                    <p>
                        Dentre todos os contratos, em {{info.nu_Aditivo_Prazo}} ({{info.nu_Aditivo_Prazo}}%) houve a postergação do prazo de conclusão da obra/serviço enquanto que em {{info.nu_Aditivo_Valor}} ({{info.nu_Aditivo_Valor_Percent}}%) houve a adição de recursos em dinheiro para a obra/serviço.    
                    </p>
                    <br>
                    <h4>Dados da cidade</h4>
                    <p>
                        A cidade de {{info.Prefeitura}} é populada por {{info.Populacao}} habitantes, apresenta IDHM - valor calculado baseado no IDHM Educação ({{info.IDHM_Educacao}}), IDHM Longevidade ({{info.IDHM_Longevidade}}) e IDHM Renda ({{info.IDHM_Renda}}) - avaliado em {{info.IDHM}}, índice de escolaridade de {{info.Ind_Escolaridade}} e expectativa de vida de {{info.Exp_Vida}}.    
                    </p>
                    <br>
                    <h4>Dados do estado</h4>
                    <p>
                        Na Paraíba, os prefeitos gestores - nesse mesmo período de tempo - fecharam em média de {{infoPB.Media_Contratos_PB}} contratos, sendo {{infoPB.Media_Dispensas_PB}} dispensas ({{infoPB.Media_Dispensas_PB_Percent}}%) e {{infoPB.Media_Convites_PB}} convites({{infoPB.Media_Convite_PB_Percent}}%) e pediram {{infoPB.Media_Aditivos_Prazo_PB}} aditivos de prazo ({{infoPB.Media_Aditivos_Prazo_PB_Percent}}%) e {{infoPB.Media_Aditivos_Valor_PB}} aditivos de valor ({{infoPB.Media_Aditivos_Valor_PB_Percent}}%).    
                    </p>
                    <p>
                        O estado apresenta um IDHM médio - composto pelo IDHM Educação de {{infoPB.IDHM_E_PB}}, IDHM Longevidade ({{infoPB.IDHM_L_PB}}) e IDHM Renda ({{infoPB.IDHM_R_PB}}) - avaliado em {{infoPB.IDHM_PB}}, índice de escolaridade médio de {{infoPB.Ind_Escolaridade_PB}} e expectativa média de vida de {{infoPB.Exp_Vida_PB}} anos.    
                    </p>
                    <br>                        
                    <h4>Sobre licitações</h4>
                    <h5>Convite ou Carta-convite</h5>
                    <p>Esse tipo de processo é o mais simples dentre os processos licitatórios e é utilizado para fazer aquisições de até R$150.000,00 em serviços de engenharia - ou R$80.000,00 em caso de compras ou outros tipos de serviços. Ele consiste no envio de convites a, pelo menos, três participantes concorrentes pela unidade administrativa. Casos em que apenas um participante é convidado devem ser justificados no edital. Por exemplo, empresa que obtém a patente de um produto que prende-se adquirir.</p>
                    <h5>Dispensa</h5>
                    <p>Há casos em que não é necessário passar por um processo licitatório a fim de adquirir um bem ou um serviço, esses casos são chamados de dispensa. Casos de dispensa comumente acontecem quando a compra atinge o valor de até R$15.000,00 em serviços de engenharia - ou R$8.000,00 em compras ou tipos de serviço.</p>
                    <h5>Aditivo de prazo e valor</h5>
                    <p>Em cada contrato fechado a partir de licitações, existem estimativas de quanto custará o serviço/obra e quando ele será finalizado. Mas, ocasionalmente, pode acontecer de algum serviço/obra, em andamento, ser reavaliado e necessitar de mais tempo ou mais ajuda em custo para ser finalizado. Nesse caso é submetido um aditivo contratual estimando o novo prazo para a conclusão da obra/serviço ou o quanto custará a obra/serviço.</p>
                </div>

                <div ng-hide="detalhes">
                    <div  class="col-sm-6">
                        <div fusioncharts class="team-member"
                           width="500"
                           height="400"
                           type="msbar2d"
                           dataSource="{{features}}" >
                        </div>
                    </div>

                    <div  class="col-sm-6">
                        <div fusioncharts class="team-member"
                           width="500"
                           height="400"
                           type="msbar2d"
                           dataSource="{{featuresMin}}" >
                        </div>
                    </div>
                </div>

            </div>
            

    </section>

    <!-- sobre Section -->
    <section id="sobre" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading text-center">Sobre</h2>
                    <p class="section-subheading">O Meu Prefeito é um aplicativo desenvolvido pelo Laboratório Analytics. O objetivo do aplicativo é auxiliar aos eleitores a conhecerem os candidatos, prefeitos, à reeleição de 2016 na Paraíba. Foram usados dados da TCE-PB (Tribunal de Contas do Estado da Paraíba) de 2008 a 2016, TRE-PB, Sagres-PB e do IBGE. Código e dados usados nesse aplicativo estão disponíves neste  <a href="https://github.com/tatianass/meu-prefeito">repositório</a>.</p>
                </div>
            </div>
            
        </div>
    </section>

    <!-- Equipe Section -->
    <section id="equipe" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Equipe</h2>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="" width="200px" height="200px">
                        <h4>Allan Sales</h4>
                        <p class="text-muted">Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://br.linkedin.com/in/allan-sales-a930a3a1"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-circle" alt=""  width="200px" height="200px">
                        <h4>Jefferson Emanuel</h4>
                        <p class="text-muted">Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="" width="200px" height="200px">
                        <h4>Leandro Balby</h4>
                        <p class="text-muted">Team Leader e Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://br.linkedin.com/in/leandro-balby-marinho-28b696b"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-circle" alt="" width="200px" height="200px">
                        <h4>Tatiana Saturno</h4>
                        <p class="text-muted">Front-End e Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://br.linkedin.com/in/tatianasaturno"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-circle" alt="" width="200px" height="200px">
                        <h4>Zé Gildo</h4>
                        <p class="text-muted">Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://br.linkedin.com/in/zé-gildo-0373ab49/en"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
